.container {
  flex: 1;
}

.title {
  display: flex;
  align-items: center;
  font-size: 12px;
  h3 {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 20px 0;

  button {
    width: 100px;
    height: 35px;
    font-size: 13px;
    background-color: #e8edf5;
    color: #030303;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button:hover {
    background-color: #030303;
    color: #e8edf5;
  }
}

.button-icon {
  font-size: 20px;
  margin: 3px 3px 0px 0px;
}
